<!DOCTYPE CSS>

.heading {
         text-align: center;
         border: 5px groove black;
	       padding: 20px;
	       margin: 10px;
	       font-family: "Times New Romans", black, sans;
       	 font-size: 50px;
         }
