<!DOCTYPE CSS>

.1 {
         text-align: center;
         border: 5px groove black;
	       padding: 20px;
	       margin: 10px;
	       font-family: Arial, green, sans;
       	 font-size: 50px;
    }
